{% extends "dysk/base.html" %}
{% block content %}
<div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
          <h3>Project created by:</h3>
          <ul class="list-group flex-column">
            <li class="list-group-item">
              Maciej Płonowski
            </li>
            <li class="list-group-item">
              Michał Sawicki
            </li>
            <li class="list-group-item">
              Mateusz Siemieniuk
            </li>
          </ul>
      </div>
</div>
{% endblock content %}