{% extends "dysk/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form id="fileForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Upload file</legend>
        {{ form | crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Upload</button>
    </div>
</form>
{% endblock content %}