{% extends "dysk/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit file</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Edit</button>
            </div>
        </form>
{% endblock content %}