{% extends "dysk/base.html" %}
{% block content %}
{% if user.is_authenticated %}

<script>
    function myFunction() {
        const copyText = document.getElementById("myInput");

        copyText.select();
        copyText.setSelectionRange(0, 99999);

        document.execCommand('copy');
    }
</script>

<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }} - Disk</h2>
            <p class="text-secondary">{{ user.email }}<br>Disk Size: {{ user.disk.maxSize | filesizeformat}}</p>
        </div>
    </div>
    <a class="btn btn-outline-primary" href="{% url 'upload' currentDir.id %}">Upload</a>
    <a class="btn btn-outline-primary" href="{% url 'createDir' currentDir.id %}">Create Directory</a>
    <div class="progress mt-3">
        <div class="progress-bar bg-danger" role="progressbar"
             style="width:{{ currentSizeP }}%">
            {{user.disk.currentSize | filesizeformat }}
        </div>
        <div class="progress-bar bg-success" role="progressbar"
             style="width:{{ freeSpaceP }}%">
            {{freeSpace | filesizeformat }}
        </div>
    </div>
</div>

<article class="content-section">
    <div class="content border-bottom mb-3">
        {% for struct in structure %}
        <a class="mb-3" href="{% url 'dir-view' struct.id %}">{{struct.directoryName}}</a> >
        {% endfor %}
        <a class="mb-3">{{ currentDir.directoryName }}</a>
    </div>
    {% else %}
    <div class="content border-bottom mb-1 ">
        <a class="mb-3">{{ currentDir }}</a>
    </div>
    {% endif %}
    <div class="list-group mt-1">
        {% if files or dirs %}

        <div class="row">
            <!-- PLIKI -->

            {% for file in files %}


            <div class="col-md-3">
                <div class ="card mb-3 box-shadow list-group-item-action" style="cursor: pointer">
                    <a data-toggle="modal" data-target="#modalFile{{file.id}}">
                         <div class="card-header bg-transparent">
                            <div class="text-center ">
                                <svg class="bi bi-file-earmark" width="2em" height="2em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z" />
                                <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z" />
                                </svg>
                                {% if file.public %}
                                <svg class="bi bi-people-fill float-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                  </svg>
                                {% endif %}
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="card-title">{{file | truncatechars:20 }}</div>
                            <div class="card-text"><small class="text-muted">{{file.file_info.size | filesizeformat}} - {{file.creationDate | date:"H:i d/m/y"}}</small></div>
                        </div>
                    </a>
                </div>
            </div>






            <!-- Modal for file-->
            <div class="modal fade" id="modalFile{{file.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="fileModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p><h5 class="modal-title" id="fileModalLabel">File details</h5></p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="word-wrap: break-word">
                            <label for="fullname">Full name:</label>
                            <p class="text-muted" id="fullname">{{file}}</p>
                            {% if file.public %}
                            <p>
                                <small class="text-muted">
                                    <label for="myInput">Link for download - </label>

                                </small>

                                <button onclick="myFunction()" class="btn btn-outline-primary mx-auto btn-sm">
                                    <svg class="bi bi-link" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                        <path d="M6.764 6.5H7c.364 0 .706.097 1 .268A1.99 1.99 0 0 1 9 6.5h.236A3.004 3.004 0 0 0 8 5.67a3 3 0 0 0-1.236.83z"/>
                                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                                        <path d="M8 11.33a3.01 3.01 0 0 0 1.236-.83H9a1.99 1.99 0 0 1-1-.268 1.99 1.99 0 0 1-1 .268h-.236c.332.371.756.66 1.236.83z"/>
                                    </svg>
                                </button>


                                <input type="text" readonly class="form-control-plaintext text-muted"
                                       value="{{ request.META.HTTP_HOST }}{% url 'file_download' file.id %}"
                                       id="myInput">

                            </p>
                            {% else %}
                            <p>
                                <small class="text-muted">
                                    File not public! To generate the download link, change the file to public in "Edit".
                                </small>
                            </p>
                            {% endif %}
                            <div class="row" >
                                <button type="button" class="btn btn-danger col-3 mx-auto" data-toggle="modal"
                                        data-target="#modalDeleteFile{{file.id}}">
                                    Delete
                                </button>
                                <a href="{% url 'file_edit' file.id currentDir.id %}"
                                   class="btn btn-secondary col-2 mx-auto">Edit</a>

                                <a href="{% url 'file_copy' file.id %}"
                                   class="btn btn-secondary col-2 mx-auto">Copy</a>
                                <a href="{% url 'file_download' file.id %}"
                                   class="btn btn-dark col-3  mx-auto">Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for delete file-->
            <div class="modal fade" id="modalDeleteFile{{file.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="deleteFileModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteFileModalLabel">Confirm deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this file?</p>
                            <a href="{% url 'file_delete' file.id %}" class="btn btn-danger float-left col-3">Delete</a>
                            <button type="button" class="btn btn-secondary float-right col-3" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- KATALOGI -->
        {% for dir in dirs %}
            <div class="list-group-item list-group-item-action">
              <a href="{% url 'dir-view' dir.id %}" class="col-md-10">
                <svg class="bi bi-folder" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                          d="M9.828 4a3 3 0 01-2.12-.879l-.83-.828A1 1 0 006.173 2H2.5a1 1 0 00-1 .981L1.546 4h-1L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3v1z"/>
                  <path fill-rule="evenodd"
                        d="M13.81 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91h10.348a1 1 0 00.995-.91l.637-7A1 1 0 0013.81 4zM2.19 3A2 2 0 00.198 5.181l.637 7A2 2 0 002.826 14h10.348a2 2 0 001.991-1.819l.637-7A2 2 0 0013.81 3H2.19z"
                        clip-rule="evenodd"/>
                </svg>
                {{ dir.directoryName }} - <small class="text-muted">{{dir.creationDate | date:"H:i d/m/y"}}</small>
              </a>
              <button type="button" class="btn btn-danger float-right ml-3 col-md-2" style="display:inline"
                      data-toggle="modal"
                      data-target="#modalDeleteDirectory{{dir.id}}">
                Delete
              </button>
            </div>

      <!-- Modal for delete directory-->
        <div class="modal fade" id="modalDeleteDirectory{{dir.id}}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this directory?</p>
                        <a href="{% url 'dir_delete' dir.id %}" class="btn btn-danger float-left col-3">Delete</a>
                        <button type="button" class="btn btn-secondary float-right col-3" data-dismiss="modal">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <small class="text-muted">empty</small>
        {% endif %}
    </div>
</article>
{% endblock content %}