{% extends "dysk/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Uploading file to {{currentDir}}</legend>
        {{ form | crispy }}
    </fieldset>
    <div class="form-group">
        <button id="upload" class="btn btn-outline-info" type="submit">Upload</button>
    </div>
</form>

<script>
    var currentSize = parseInt("{{request.user.disk.currentSize}}");
    var maxSize = parseInt("{{request.user.disk.maxSize}}");
    document.getElementById('id_newFile').addEventListener('input', validate, false);
    function validate() {
        var newFile = document.getElementById("id_newFile").files[0];

        if (newFile.size > 100 * 1024 * 1024) {
            alert("File is too large! Max file size is 100MB")
            document.getElementById('upload').disabled = true;
            document.getElementById('id_newFile').value = '';
        }
        else if (newFile.size + currentSize > maxSize){
            var available = Math.round(((maxSize - currentSize) / 1024 / 1024) * 100) / 100;
            alert("Not enough space! Available space: " + available + " MB");
            document.getElementById('upload').disabled = true;
            document.getElementById('id_newFile').value = '';
        }
        else
        {
            document.getElementById('upload').disabled = false;
        }
    }
</script>
{% endblock content %}