{% extends "dysk/base.html" %}
{% block content %}
  <article class="content-section">
    <h1>Hello!</h1>
    <h4>
      Please <a href="{% url 'login' %}" class="alert-link">login</a> to use a Django WebDisk!
    </h4>
    <div>
      <small class="text-muted">Need An Account? <a href="{% url 'register' %}">Sign Up Now!</a></small>
    </div>
  </article>
{% endblock content %}